.cart-button{
    display: flex;
    font-family: Montserrat;
    background-color: hsl(158, 36%, 37%);
    border-radius: 10px;
    cursor: pointer;
    color: hsl(0, 0%, 100%);
    font-weight: 500;
    justify-content: space-evenly;
    width: 100%;
    padding: 11px 50px;
  }

  .cart-button:hover, .cart-button:active {
    background-color: hsl(158, 73%, 22%) ;
  }

  @media (max-width: 540px){

    .cart-button{
      padding: 11px 86px;
    }

    }