body {
  margin: 0;
  padding: 0;
  background-color: hsl(30, 38%, 92%);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.main-container{
  display: flex;
  align-items: center;
  width: 530px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 10px;
}

.description-container {
  width: 92%;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 50px;
  padding-bottom: 15px;
}

@media (max-width: 540px){

  .main-container{
    flex-direction: column;
    width: 331px;
  }

  .description-container {
    width: 86%;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 59px;
    padding-bottom: 21px;
    
  }
  
  }